.navbarContainer {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-family: Roboto Mono, serif;
    justify-content: start;
    background-color: #00DC37;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbarSections{
    display: flex;
    justify-content: start;
    width: 80%;
    font-weight: lighter;
    margin: 1vmin 0;
}

.navbarSections h1{
    margin: 0 2vmin;
}

.navbarNetworks{
    display: flex;
    justify-content: right;
    width: 20%;
}

.navbarNetworks > * {
    margin: 0 0.25vmin;
}