@import "../../styles/variables";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.indicator {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: clamp(0.5rem, 1vw, 0.8rem) clamp(0.5rem, 1vw, 0.8rem);
  border-radius: 100px;
  min-width: clamp(120px, 35%, 380px);
  max-width: 90%;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.circleContainer {
  width: clamp(75px, 15vw, 125px);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  margin-right: clamp(0.75rem, 2vw, 1.5rem);
}

h2 {
  margin: 0;
  flex: 1;
  color: $dark-font-color;
  font-size: clamp(0.95rem, 3.5vw, 1.4rem);
  white-space: nowrap;
  text-align: left;
}
