@import '../../styles/variables';

.sectionTitle {
    text-align: start;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    max-width: 100%;
    margin: inherit;
    padding: $title-spacing 0 0 $title-spacing;
    color: $gradient-background;
    z-index: -50;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.animateIn {
        opacity: 1;
        transform: translateX(0);
    }
}